<h1 class="mt-5">Sobre</h1>

<p class="lead">
  Criado com o intuito de ensinar um pouco sobre o Framework Ruby on Rails, Contact List mostrará como aprender as peças que formam essa ferramenta
  tão poderosa.
</p>