<div class="jumbotron mt-5">
  <h1 class="display-4">Contact List</h1>
  <p class="lead">
    Gerencie seus contatos em qualquer lugar!
  </p>
  <p>
    <%= link_to "Crie Sua Conta", new_user_path, class:"btn btn-primary btn-lg" %>
  </p>
</div>