<div class="row">
  <div class="col-12">
    <h1>Editar Contato</h1>
  </div>

  <div class="col-md-6 offset-md-3 col-12">
    <%= form_for @contact do |f| %>
    <%= render 'fields', f: f %>
    <%= f.submit 'Atualizar', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>